<link rel="stylesheet" href="/css/box.css">
<div id='listbox'>

    <div id="left">
        <div class='personal' style="text-align: center">Personal</div>
        <div class="work" style="text-align: center">Work</div>
        <div class="others" style="text-align: center">Others</div>
    </div>
    <div id="right">
        <div id="textareaHeader">
            Event Description
        </div>
        <textarea></textarea>
    </div>
    <div id="button">
        <button type="submit" id="addEvent">Add Event</button>
    </div>
    <div id='changeView'>
        <button type="submit" id="next">Next</button><br><br>
        <button type="submit" id="prev">Previous</button>
    </div>
</div>
<script src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

