<link rel="stylesheet" href="/css/box.css">
<div id='listbox'>

    <div id="left">
        <div id='personal' style="text-align: center;">Personal</div>
        <div id="work">Work</div>
        <div id="others">Others</div>
    </div>
    <div id="right">
        <div id="textareaHeader">
            Event Description
        </div>
        <textarea></textarea>
    </div>
    <div id="button">
        <button type="submit" id="addEvent">Add Event</button>
    </div>
    <div id='changeView'>
        <button type="submit">Next</button><br><br>
        <button type="submit">Previous</button>
    </div>
</div>